# current_account() and current_region() would help to get your SNOWFLAKE_ACCOUNT
SNOWFLAKE_ACCOUNT="xy12345.ap-southeast-2"
# use personal account for local dev work
SNOWFLAKE_USER="<service_account_user>"
SNOWFLAKE_PASSWORD="<service_account_password>"
SNOWFLAKE_WAREHOUSE="<your_default_wh>"
SNOWFLAKE_AUTHENTICATOR="<optional_authenticator>"
SNOWFLAKE_ROLE="<your_role>"
DBT_PROFILE_DIR="dbt_project/config/profiles.yml"
DBT_TARGET="dev"
